@import "../variables";

.shopping-lists {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
  flex-grow: 1;
}

.generate-list-btn {
  margin-top: 15px;
}

.content-header {
  color: $title-color;
  font-weight: bold;
  margin-bottom: 10px;
}