@import "../variables";

.shopping-list-page {
  .content-header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

}

.closed-header {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.header {
  display: flex;
  border-bottom: 1px solid silver;
  padding: 5px 15px;
  flex-shrink: 0;

  .checkbox {
    width: 42px;
  }

  .product {
    flex-grow: 1;
  }

  .quantity {
    width: 110px;
    text-align: center;
  }

  .actions {
    width: 70px;
  }
}

.list-item {
  &:not(:last-child) {
    border-bottom: 1px solid silver;
  }
}

.products-list {
  overflow-y: auto;
}

.shopping-list-name {
  padding: 3px 5px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;

  &:hover {
    border: 1px solid $text-color;
    border-radius: 3px;
    .fa {
      visibility: visible;
    }
  }

  .fa {
    margin-left: 8px;
    font-size: 18px;
    visibility: hidden;
    align-self: center;
    color: $text-color;
  }

}

.add-btn {
  width: fit-content;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}