@import "../variables";

.header {
  display: flex;
  border-bottom: 1px solid silver;
  padding-bottom: 5px;

  .checkbox {
    width: 50px;
  }

  .product {
    flex-grow: 1;
  }

  .quantity {
    width: 150px;
    text-align: center;
  }

  .actions {
    width: 70px;
  }
}

.list-item {
  &:not(:last-child) {
    border-bottom: 1px solid silver;
  }
}

.products-list {
  overflow-y: auto;
}