@import "../variables";

.shopping-list-page {
  .content-header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    flex-shrink: 0;
  }


  .archive-btn {
    flex-shrink: 0;
    margin: 10px;
  }
}

.archived {
  background-color: $archived-color;

  .fa-clipboard-check {
    font-size: 150px;
    position: absolute;
    z-index: 0;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #c7c1c1;
    opacity: 0.5;
  }
}

.closed-header {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.header {
  display: flex;
  border-bottom: 1px solid silver;
  padding: 5px 15px;
  flex-shrink: 0;

  .checkbox {
    width: 42px;
  }

  .product {
    flex-grow: 1;
  }

  .quantity {
    width: 110px;
    text-align: center;
  }

  .actions {
    width: 70px;
  }
}

.list-item {
  &:not(:last-child) {
    border-bottom: 1px solid silver;
  }
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
}

.shopping-list-name {
  padding: 3px 5px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;

  &.disabled {
    cursor: not-allowed;
  }

  &:not(.disabled):hover {
    border: 1px solid $text-color;
    border-radius: 3px;
    .fa {
      visibility: visible;
    }
  }

  .fa {
    margin-left: 8px;
    font-size: 18px;
    visibility: hidden;
    align-self: center;
    color: $text-color;
  }

}

.add-btn {
  width: fit-content;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}