@import "../variables";

.add-product-section {
  margin: 10px 0;
  padding: 0 15px;
  display: flex;
  flex-shrink: 0;

  .input-wrapper {
    flex-grow: 1;
    min-width: 0;
    margin-right: 7px;
    position: relative;

    input {
      width: 100%;
    }

    > div {
      top: 0 !important;
      position: static !important;
      min-width: 0 !important;
      cursor: pointer;
      border: 1px solid silver;
      overflow-x: auto;
      max-height: 300px;
    }
  }
}

.autocomplete-item {
  padding: 10px !important;

  &.highlighted {
    background: $layout-base-color;
  }
}