@import "../variables";

.shopping-list-item {
  height: 35px;
  display: flex;
  align-items: center;
  padding: 5px 15px;

  &.checked {
    background: #b7b4b436;
    text-decoration: line-through;
  }

  .checkbox {
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 20px;

    label {
      cursor: pointer;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      border-radius: 4px;
      border: 1px solid silver;
      left: 0;
      background: white;
    }


    label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background: transparent;
      top: 4px;
      left: 4px;
      border: 3px solid silver;
      border-top: none;
      border-right: none;

      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    label:hover::after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
      filter: alpha(opacity=30);
      opacity: 0.3;
    }

    input[type=checkbox]:checked + label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1;
    }

  }

  .product {
    flex-grow: 1;
  }

  .quantity {
    width: 110px;
    text-align: center;

    input {
      width: 30px;
      border: 1px solid silver;
      border-radius: 3px;
      font-size: 14px;
      padding: 3px;
    }

    .amount-label {
      display: inline-block;
      width: 30px;
    }
  }

  .actions {
    width: 70px;
    text-align: center;
  }
}