@import "../variables";

.shopping-list-tile {
  @extend .flex-col;
  width: 150px;
  height: 250px;
  border: 1px solid $layout-main-color;
  padding: 10px;
  margin: 5px;
  background: white;
  overflow: hidden;

  > * {
    margin-bottom: 10px;
    line-height: 20px;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    flex-shrink: 0;
  }

  &:hover {
    background: $layout-main-color;
    color: white;
    cursor: pointer;
  }
}