@import "../variables";

.shopping-list-tile {
  @extend .flex-col;
  width: 150px;
  height: 250px;
  border: 1px solid $layout-main-color;
  padding: 10px;
  margin: 5px;
  background: white;

  > * {
    margin-bottom: 10px;
  }

  &:hover {
    background: $layout-main-color;
    color: white;
    cursor: pointer;
  }
}