@import "variables";

.page-layout {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: $layout-base-color;

  &:before {
    content: "";
    height: 300px;
    width: 100%;
    position: absolute;
    background: $layout-main-color;
  }
}

.content-panel {
  border: 1px solid $border-color;
  border-radius: 3px;
  background-color: #ffffff;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 800px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 500px;
  min-width: 600px;

  &.small {
    height: 500px;
    min-height: 500px;
    width: 450px;
    min-width: 450px;
  }
}

.padded-section {
  padding: 30px;
  flex-grow: 1;
}