
$text-color: #454545;
$border-color: #b7b4b4;
$border-radius: 3px;
$title-color: #3ab377;

$layout-main-color: #3ab377;
$layout-base-color: #e4dfdf;
$archived-color: #f5f5f5;

$font-size: 16px;
$small-font-size: 14px;
